<a href="https://colab.research.google.com/github/Loglype/BottcampSantander/blob/main/Desafio_Pipeline_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

E - ***EXTRAÇÃO DOS DADOS***

In [4]:
import pandas as pd

# Leitura do arquivo CSV
df = pd.read_csv("Vendas.csv")
print(df.head())

   VendasId  LojaId  ProdutoId        Data  PrecoUnitario  Quantidade
0     82319   22726        590  2019-12-02         0.0525          93
1     15022   21754        390  2017-11-19         5.1100          28
2     11624   71053        883  2020-07-13         7.3675          33
3     63101   22914        658  2019-05-12         2.0825          76
4     29702   22623        632  2020-07-20         0.6475           8

T - ***TRANSFORMAÇÃO DOS DADOS***

In [6]:
# Removendo registros duplicados
df = df.drop_duplicates()

# Adicionando uma coluna de valor total
df['ValorTotal'] = df['PrecoUnitario'] * df['Quantidade']
print(df)

        VendasId  LojaId  ProdutoId        Data  PrecoUnitario  Quantidade  \
0          82319   22726        590  2019-12-02         0.0525          93
1          15022   21754        390  2017-11-19         5.1100          28
2          11624   71053        883  2020-07-13         7.3675          33
3          63101   22914        658  2019-05-12         2.0825          76
4          29702   22623        632  2020-07-20         0.6475           8
...          ...     ...        ...         ...            ...         ...
199995     57660   85123        682  2019-07-01         4.4625          75
199996     18783   22727        656  2017-04-18         1.6800          30
199997     25064   22912        831  2019-06-10         2.5025          60
199998     43683   22622        902  2018-08-06         3.2025          98
199999     44211   22749        775  2018-06-22         1.8550          32

        ValorTotal
0           4.8825
1         143.0800
2         243.1275
3         158.2700
4           5.1800
...            ...
199995    334.6875
199996     50.4000
199997    150.1500
199998    313.8450
199999     59.3600

[200000 rows x 7 columns]

L - ***CARREGANDO DADOS***

In [10]:
# Salvar os dados em um novo arquivo Excel
df.to_excel("vendas_transformadas.xlsx")